@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 100;
  src: url("../fonts/poppins-v24-latin-100.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --primary-green: #819b57;
  --primary-dark-green: #486e0d;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
  --secondary-dark-green: #465929;
  --secondary-beige: #a18268;
}
/* Base styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--primary-dark);
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul,
li,
ol {
  list-style: none;
  padding: 0px;
}
/* [type='button'] {
    border: 4px solid black;
} */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
}
.section {
  padding: 48px 0;
}

/* Navigation */
.nav-link {
  color: var(--primary-light);
}
.nav-link:hover {
  color: var(--primary-green);
  font-weight: 600;
}

/* Button */
.button {
  font-family: inherit;
  background-color: var(--primary-green);
  border: 2px solid var(--primary-green);
  border-radius: 8px;
  color: var(--primary-light);
  padding: 16px 32px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #486e0d;
  color: #486e0d;
}

/* Hero Screen */

.hero-section {
  padding: 224px 0;
}
.hero-block {
  text-align: center;
  max-width: 1027px;
  margin: 0 auto;
}
.hero-title {
  color: var(--primary-light);
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--primary-green);
}

.hero-text {
  color: #1f0404;
  text-align: right;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
}

/* Benefits */
.benefits-list {
  background-color: #486e0d;
  color: var(--primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  color: var(--primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

/* Traditions */

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text span {
  color: var(--primary-dark-green);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-description {
  padding-top: 96px 0;
}
/* Staff */
.our-staff span {
  color: var(--secondary-dark-green);
}

.staff-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chefs-title {
  margin-bottom: 80px;
}

/* Options */

.formats-title {
  margin-bottom: 80px;
}

.options-title {
  font-size: 24px;
  font-weight: 600;
}

.options-text {
  font-size: 14px;
  font-weight: 300;
}
/* Contacts */
.contacts {
  padding-bottom: 96px;
}

.contacts-title {
  margin-bottom: 16px;
}
/* Footer */

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-light);
}

.copyright {
  color: var(--secondary-beige);
  font-size: 14px;
}

.box_kid {
  display: inline-block;
  background-color: #a2c969;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
}
