*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul,
li,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

// Section styles

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
  /*Added half 96/2=48 from both sides*/

  &__title {
    color: var(--primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;

    &--centered {
      text-align: center;
    }
  }
}
