*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    font-weight: 400;
  }
}
address {
  font-style: normal;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul,
li,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  // width: 100%;
  height: auto;
  display: block;
  // object-fit: cover;
}
// Section styles

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 20px 0;
  /*Added half 96/2=48 from both sides*/

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }

  &__title {
    color: var(--primary-dark);
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      line-height: 1.3;
    }
    &--centered {
      text-align: center;
    }
  }
}
