:root {
  --primary-green: #819b57;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
}
/* Base styles */
body {
    color: var(--primary-dark);
}
ul {
  list-style-type: none;
}
/* [type='button'] {
    border: 4px solid black;
} */

/* Navigation */
.nav-link {
  color: var(--primary-light);
}
.nav-link:hover {
  color: #b6d880;
}

/* Button */
.button {
  background-color: var(--primary-green);
  border: 2px solid var(--primary-green);
  border-radius: 8px;
  color: var(--primary-light);
  padding: 16px 32px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #486e0d;
  color: #486e0d;Ñ„
}

/* Hero Screen */
.hero-title {
  color: var(--primary-light);
}

.hero-title .accent {
  color: #b6d880;
}

h2 {
  color: white;
}

/* Benefits */
.benefits-list {
  background-color: #486e0d;
  color: var(--primary-light);
}

.section-title {
  color: var(--primary-dark);
}
