:root {
  --primary-green: #819b57;
  --primary-dark-green: #486e0d;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
  --secondary-dark-green: #465929;
  --secondary-beige: #a18268;
  --secondary-grey: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1279px;
