.benefits-section {
  padding: 40px 0;
  @media screen and (min-width: $bp-tablet) {
    background-color: #486e0d;
    padding: 16px 0;
  }

  &__list {
    display: flex;
    background-color: var(--secondary-grey);
    padding: 24px 40px;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 24px;

    @media screen and (min-width: $bp-tablet) {
      text-align: center;
      background-color: transparent;
      justify-content: space-between;
      gap: 40px;
      font-size: 20px;
      font-weight: 300;
      flex-direction: row;
      padding: 0;
      color: var(--primary-light);
    }
  }
}
