.benefits-section {
  background-color: #486e0d;
  padding: 16px 0;

  &__list {
    color: var(--primary-light);
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
