.contacts-section {
  padding-bottom: 0px;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    gap: 32px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 24px;
    }
  }
  &__title {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 16px;
  }

  &__text {
    color: var(--secondary-dark-green);
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 42px;
    }
  }
  &__form {
    flex-grow: 1;
  }
  &__map {
    flex-shrink: 0;
    border-radius: 16px;
    margin: 0 -24px;
    height: 176px;

    @media screen and (min-width: $bp-tablet) {
      width: 320px;
      height: 460px;
      margin: auto;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 600px;
    }
  }

  &__form-field {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 24px;
  }
}
