.contacts-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }
  &__title {
    margin-bottom: 16px;
  }

  &__text {
    color: var(--secondary-dark-green);
    margin-bottom: 42px;
  }

  &__map {
    flex-shrink: 0;
    border-radius: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
  }
}
