.footer {
  background-color: var(--primary-dark);
  position: relative;
  background-image: url("/img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px 0;
  background-size: cover;
  &::before,
  &::after {
    content: "";
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 0;
  }
  &::before {
    background-image: url(/img/decor-small-bread.png);
    width: 80px;
    height: 120px;

    @media screen and (min-width: $bp-desktop) {
      width: 200px; /*ширину дізнались в інструментах розробника*/
    }
  }

  &::after {
    background-image: url(/img/decor-double-bread.png);
    width: 200px;
    height: 180px;
    right: 0;

    @media screen and (min-width: $bp-desktop) {
      width: 378px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      gap: 30px;
      flex-direction: row;
      align-items: stretch;
      text-align: left;
      justify-content: space-between;
    }

    /*gap for screen size changing*/
  }
  /* In the video the footer was made using flex-basis & flex-grow */
  &__logo {
    width: 72px;
    @media screen and (min-width: $bp-tablet) {
      width: 107px;
    }
  }
  &__nav li {
    margin-bottom: 16px;
  }
  &__address-link {
    font-size: 14px;
    font-weight: 300;
    max-width: 190px;
    color: var(--primary-light);
    transition: color 0.3s;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }
  &__address-link:hover {
    color: var(--primary-green);
  }

  &__socials {
    fill: var(--primary-light);
    transition: fill 0.3s;
    justify-content: center;
  }

  &__socials:hover {
    fill: var(--primary-green);
  }

  &__copyright {
    color: var(--secondary-beige);
    font-size: 12px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 14px;
    }
  }
  &__socials-container {
    display: flex;
    gap: 22px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }
}
