.header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  &__list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 64px;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__button {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
