.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    top: 30px;
  }
  &__container {
    display: flex;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  &__list {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      gap: 64px;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: 992px) {
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: 0;
    padding: 0;
    fill: var(--primary-light);
    display: block;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
