.hero-section {
  padding: 124px 0;
  background-image: linear-gradient(
      99.14deg,
      rgba(0, 0, 0, 0.78) -2.25%,
      rgba(0, 0, 0, 0.6) 53.01%,
      rgba(132, 75, 13, 0.61) 92.39%
    ),
    url("/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        99.14deg,
        rgba(0, 0, 0, 0.78) -2.25%,
        rgba(0, 0, 0, 0.6) 53.01%,
        rgba(132, 75, 13, 0.61) 92.39%
      ),
      url("/img/hero-bg@2x.jpg");
  }
  @media screen and (min-width: 1080px) {
    padding: 224px 0;
  }
  &__block {
    text-align: center;
    max-width: 1027px;
    margin: 0 auto;
  }
  &__title {
    color: var(--primary-light);
    font-size: 64px;
    line-height: 1.1;
    font-weight: 900;
    margin-bottom: 25px;

    @media screen and (min-width: 1080px) {
      font-size: 128px;
      line-height: 1.3;
    }
  }
  &__text {
    color: var(--primary-light);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 46px;

    @media screen and (min-width: 1080px) {
      text-align: right;
      font-size: 64px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: $bp-desktop) {
      font-size: 56px;
    }
  }
  &__button {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}

.hero-section__accent {
  color: var(--primary-green);
}
