.hero-section {
  padding: 224px 0;
  background-image: linear-gradient(
      99.14deg,
      rgba(0, 0, 0, 0.78) -2.25%,
      rgba(0, 0, 0, 0.6) 53.01%,
      rgba(132, 75, 13, 0.61) 92.39%
    ),
    url("/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__block {
    text-align: center;
    max-width: 1027px;
    margin: 0 auto;
  }
  &__title {
    color: var(--primary-light);
    font-size: 128px;
    font-weight: 900;
  }
  &__text {
    color: var(--primary-light);
    text-align: right;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.3;
  }
}

.hero-section__accent {
  color: var(--primary-green);
}
