.mobile-menu {
  position: fixed;
  background-color: var(--primary-light);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s;
  padding: 24px;

  &__nav {
    display: flex;
    justify-content: space-between;
  }
}

.is-open {
  transform: translateX(0);
}
