.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 38, 26, 0.6);
  padding: 30px 0;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    /*I'm not sure if this style is actually needed, propably only 
  for animations*/
    /* Властивість display не анімується */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal-window {
  position: relative;
  max-width: 880px;
  max-height: 884px;
  width: 100%;
  height: 100vh;
  padding: 124px;
  background-color: var(--primary-light);
  border-radius: 28px;
  /* overflow-y: auto;  if the window doesn't fit in the screen*/
  &__title {
    margin-bottom: 8px;
  }

  &__text {
    color: var(--secondary-dark-green);
    margin-bottom: 50px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__form-copyright {
    font-size: 14px;
    text-align: center;
  }

  &__form-button {
    margin: 0 auto 24px;
  }
  &__close-button {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}
