.chefs-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  @media screen and (min-width: $bp-tablet) {
    gap: 30px;
  }

  &__img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -10px 10px 0 0 var(--primary-light),
      -10px 10px 0 1px var(--secondary-beige);
    /*The decorative element was creted by making 2 shadows, 
    one under another to create the same element */
    width: 140px;
    height: 226px;

    @media screen and (min-width: $bp-tablet) {
      box-shadow: -16px 16px 0 0 var(--primary-light),
        -16px 16px 0 1px var(--secondary-beige);
      width: 240px;
      height: 390px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 30px;
  }
}
