.options-card {
  height: 444px; /*max-heigh or height?*/
  color: var(--primary-light);
  border-radius: 16px;
  padding: 24px;
  align-content: flex-end;
  transition: transform 0.3s;
  min-width: 300px; /*to resize normally*/
  background-size: cover;

  &:hover {
    transform: scale(1.05);
  }
  /* Added bg to each card through class. 
Також можна додати картинку через html і зпосиціонувати абсолютно  */
  &--walrus {
    background-image: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 43.71%,
        rgba(49, 38, 26, 0.71) 54.96%,
        var(--primary-dark) 100%
      ),
      url(/img/options-walrus.jpg);
  }

  &--horseshoe {
    background-image: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 43.71%,
        rgba(49, 38, 26, 0.71) 54.96%,
        var(--primary-dark) 100%
      ),
      url(/img/options-horseshoe.jpg);
  }

  &--handlebar {
    background-image: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 43.71%,
        rgba(49, 38, 26, 0.71) 54.96%,
        var(--primary-dark) 100%
      ),
      url(/img/optiions-handlebar.jpg);
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    min-height: 120px; /*to make it on the same level*/
  }
}
